![example](images/director_shot.jpeg)

# Project Title

**Authors:** Student 1, Student 2, Student 3
***

## Overview

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

## Business Problem

Summary of the business problem you are trying to solve, and the data questions that you plan to answer to solve them.

***
Questions to consider:
* What are the business's pain points related to this project?
* How did you pick the data analysis question(s) that you did?
* Why are these questions important from a business perspective?
***

## Data Understanding

Describe the data being used for this project.
***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

In [1]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
# Here you run your code to explore the data
import glob, os
fpath = "zippedData/"
os.listdir(fpath)

['imdb.title.crew.csv.gz',
 '.DS_Store',
 'tmdb.movies.csv.gz',
 'imdb.title.akas.csv.gz',
 'imdb.title.ratings.csv.gz',
 'imdb.name.basics.csv.gz',
 'imdb.title.principals.csv',
 'rt.reviews.tsv.gz',
 'imdb.title.basics.csv.gz',
 'rt.movie_info.tsv.gz',
 'tn.movie_budgets.csv.gz',
 'bom.movie_gross.csv.gz',
 'imdb.title.principals.csv.gz']

In [3]:
query = fpath+"*.gz"
file_list = glob.glob(query)
file_list

['zippedData/imdb.title.crew.csv.gz',
 'zippedData/tmdb.movies.csv.gz',
 'zippedData/imdb.title.akas.csv.gz',
 'zippedData/imdb.title.ratings.csv.gz',
 'zippedData/imdb.name.basics.csv.gz',
 'zippedData/rt.reviews.tsv.gz',
 'zippedData/imdb.title.basics.csv.gz',
 'zippedData/rt.movie_info.tsv.gz',
 'zippedData/tn.movie_budgets.csv.gz',
 'zippedData/bom.movie_gross.csv.gz',
 'zippedData/imdb.title.principals.csv.gz']

In [4]:
tables = {}
for file in file_list:
    file_name = file.replace('zippedData/', '').replace('.', '_')
    print("==="*20,"\n\n",)
    print(file_name)
    if ".tsv.gz" in file:
        temp_df = pd.read_csv(file, sep = "\t", encoding ='latin-1')
    else:
        temp_df = pd.read_csv(file)
    display(temp_df.head(), temp_df.tail())
    tables[file_name] = temp_df

============================================================


imdb_title_crew_csv_gz

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

           tconst              directors     writers
146139  tt8999974             nm10122357  nm10122357
146140  tt9001390              nm6711477   nm6711477
146141  tt9001494  nm10123242,nm10123248         NaN
146142  tt9004986              nm4993825   nm4993825
146143  tt9010172                    NaN   nm8352242

============================================================


tmdb_movies_csv_gz

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.6,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.6,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.6,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.6,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.6,2018-10-05,The Church,0.0,1

============================================================


imdb_title_akas_csv_gz

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

,title_id,ordering,title,region,language,types,attributes,is_original_title
331698,tt9827784,2,Sayonara kuchibiru,NaN,NaN,original,NaN,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,NaN,0.0
331700,tt9880178,1,La atención,NaN,NaN,original,NaN,1.0
331701,tt9880178,2,La atención,ES,NaN,NaN,NaN,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,NaN,0.0

============================================================


imdb_title_ratings_csv_gz

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

          tconst  averagerating  numvotes
73851  tt9805820            8.1        25
73852  tt9844256            7.5        24
73853  tt9851050            4.7        14
73854  tt9886934            7.0         5
73855  tt9894098            6.3       128

============================================================


imdb_name_basics_csv_gz

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
606643,nm9990381,Susan Grobes,NaN,NaN,actress,NaN
606644,nm9990690,Joo Yeon So,NaN,NaN,actress,"tt9090932,tt8737130"
606645,nm9991320,Madeline Smith,NaN,NaN,actress,"tt8734436,tt9615610"
606646,nm9991786,Michelle Modigliani,NaN,NaN,producer,NaN
606647,nm9993380,Pegasus Envoyé,NaN,NaN,"director,actor,writer",tt8743182

============================================================


rt_reviews_tsv_gz

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

,id,review,rating,fresh,critic,top_critic,publisher,date
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

============================================================


imdb_title_basics_csv_gz

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

============================================================


rt_movie_info_tsv_gz

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

============================================================


tn_movie_budgets_csv_gz

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

============================================================


bom_movie_gross_csv_gz

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

,title,studio,domestic_gross,foreign_gross,year
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

============================================================


imdb_title_principals_csv_gz

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

,tconst,ordering,nconst,category,job,characters
1028181,tt9692684,1,nm0186469,actor,NaN,"[""Ebenezer Scrooge""]"
1028182,tt9692684,2,nm4929530,self,NaN,"[""Herself"",""Regan""]"
1028183,tt9692684,3,nm10441594,director,NaN,NaN
1028184,tt9692684,4,nm6009913,writer,writer,NaN
1028185,tt9692684,5,nm10441595,producer,producer,NaN

In [5]:
tables.keys()

dict_keys(['imdb_title_crew_csv_gz', 'tmdb_movies_csv_gz', 'imdb_title_akas_csv_gz', 'imdb_title_ratings_csv_gz', 'imdb_name_basics_csv_gz', 'rt_reviews_tsv_gz', 'imdb_title_basics_csv_gz', 'rt_movie_info_tsv_gz', 'tn_movie_budgets_csv_gz', 'bom_movie_gross_csv_gz', 'imdb_title_principals_csv_gz'])

## Data Preparation

Describe and justify the process for preparing the data for analysis.

***
Questions to consider:
* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?
***

In [6]:
#I chose to start with this table because it appears to have relevant financial information
tn_movie_budgets = tables["tn_movie_budgets_csv_gz"].copy()

In [7]:
#Reviewing the general table information, and the column data types:
tn_movie_budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [8]:
#There doesn't seem to be any missing data
#I will convert column 1 to a date datatype, and columns 3-5 to float
#I will first run a check to see if the data types are the same throughout each respective column

for column in tn_movie_budgets.columns:
    print(column,": ",tn_movie_budgets[column].apply(type).unique())

id :  [<class 'int'>]
release_date :  [<class 'str'>]
movie :  [<class 'str'>]
production_budget :  [<class 'str'>]
domestic_gross :  [<class 'str'>]
worldwide_gross :  [<class 'str'>]

In [9]:
#Removing "$" and "," before converting to float: 
cols =["production_budget","domestic_gross","worldwide_gross"]
tn_movie_budgets[cols] = tn_movie_budgets[cols].replace('[$,]','',regex=True)

#Converting columns to float datatype:
for col in cols:
    tn_movie_budgets[col] = tn_movie_budgets[col].astype(float)
    
#Converting 'release_date' column to datetime datatype:    
tn_movie_budgets['release_date'] = pd.to_datetime(tn_movie_budgets['release_date'])

#Remove any potential whitespace from movie names:   
tn_movie_budgets['movie'] = tn_movie_budgets['movie'].apply(lambda movie:movie.strip())

#confirming change:
print(tn_movie_budgets.info())
tn_movie_budgets.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   datetime64[ns]
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   float64
 4   domestic_gross     5782 non-null   float64
 5   worldwide_gross    5782 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 271.2+ KB
None

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,2009-12-18,Avatar,425000000.0,760507625.0,2.776345e+09
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09
2,3,2019-06-07,Dark Phoenix,350000000.0,42762350.0,1.497624e+08
3,4,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09

In [10]:
# Here you run your code to clean the data
all_columns_dupes = tn_movie_budgets.duplicated().sum()
id_dupes = tn_movie_budgets.duplicated(subset=['id']).sum()
movie_dupes = tn_movie_budgets.duplicated(subset=['movie']).sum()

dupes_all_columns = ("There are: {x} duplicate rows in this dataframe.").format(x = all_columns_dupes)
dupes_id_column = ("There are: {y} duplicate values in the id column of this dataframe.").format(y = id_dupes)
dupes_movie_column = ("There are: {z} duplicate values in the movie column of this dataframe.").format(z = movie_dupes)

print(dupes_all_columns)
print(dupes_id_column)
print(dupes_movie_column)

There are: 0 duplicate rows in this dataframe.
There are: 5682 duplicate values in the id column of this dataframe.
There are: 84 duplicate values in the movie column of this dataframe.

In [11]:
#There appear to be only 100 unique values for the id column,1-100.
tn_movie_budgets['id'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [12]:
#I will drop this column:
tn_movie_budgets = tn_movie_budgets.drop('id', axis=1)

In [13]:
#check to see if there are rows with duplicates of both the 'movie' and 'release date' columns
movie_r_date_dupes = tn_movie_budgets.duplicated(subset=['movie','release_date']).sum()
movie_r_date_dupes

0

In [14]:
#Given that there are no duplicates of both the 'movie' and the 'release_date' the  84 rows 
#with the duplicate movie names are most likely different movies. That said, in order to 
#keep all the movie names unique, since these rows make up less than 1.5% of the total set,
#I will drop these rows and confirm. The number of rows should now be 5698:

tn_movie_budgets = tn_movie_budgets.drop_duplicates(subset=['movie'])
assert len(tn_movie_budgets) == 5698

In [15]:
#set the movie column as the index
#tn_movie_budgets = tn_movie_budgets.set_index('movie')

In [16]:
#This table seems ready to join with other tables.
#I will repeat this process with the other tables I am looking to join.
tn_movie_budgets_all_set = tn_movie_budgets
tn_movie_budgets_all_set.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,2009-12-18,Avatar,425000000.0,760507625.0,2.776345e+09
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09
2,2019-06-07,Dark Phoenix,350000000.0,42762350.0,1.497624e+08
3,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09
4,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09

In [17]:
#I chose to start with this table because it appears to have relevant runtime, and genre information:
imdb_title_df = tables["imdb_title_basics_csv_gz"].copy()

In [18]:
#Reviewing the general table information, and the column data types:
imdb_title_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [19]:
#I will first run a check to see if the data types are the same throughout each respective column
for column in imdb_title_df.columns:
    print(column,": ",imdb_title_df[column].apply(type).unique())

tconst :  [<class 'str'>]
primary_title :  [<class 'str'>]
original_title :  [<class 'str'> <class 'float'>]
start_year :  [<class 'int'>]
runtime_minutes :  [<class 'float'>]
genres :  [<class 'str'> <class 'float'>]

In [20]:
#convert these 3 columns to str, if they are not so already:
cols =  ['tconst','primary_title','original_title','genres']
for col in cols:
    imdb_title_df[col] = imdb_title_df[col].astype(str)
    
#confirm that the data types on all columns are uniform:
for column in imdb_title_df.columns:
    print(column,": ",imdb_title_df[column].apply(type).unique())

tconst :  [<class 'str'>]
primary_title :  [<class 'str'>]
original_title :  [<class 'str'>]
start_year :  [<class 'int'>]
runtime_minutes :  [<class 'float'>]
genres :  [<class 'str'>]

In [21]:
#all the data types look good. I will not drop any columns for now.
#Remove any potential whitespace from str type columns:
for col in cols:
    imdb_title_df[col] = imdb_title_df[col].apply(lambda m:m.strip())

In [22]:
# Here you run your code to clean the data
all_columns_dupes = imdb_title_df.duplicated().sum()
tconst_dupes = imdb_title_df.duplicated(subset=['tconst']).sum()
primary_title_dupes = imdb_title_df.duplicated(subset=['primary_title']).sum()

dupes_all_columns = ("There are: {x} duplicate rows in this dataframe.").format(x = all_columns_dupes)
dupes_tconst_column = ("There are: {y} duplicate values in the tconst column of this dataframe.").format(y = tconst_dupes)
dupes_primary_title_column = ("There are: {z} duplicate values in the primary_title column of this dataframe.").format(z = primary_title_dupes)

print(dupes_all_columns)
print(dupes_tconst_column)
print(dupes_primary_title_column)

There are: 0 duplicate rows in this dataframe.
There are: 0 duplicate values in the tconst column of this dataframe.
There are: 10073 duplicate values in the primary_title column of this dataframe.

In [23]:
#Given that the 10073 rows with the duplicate 'primary_title' names 
#make up less than 7% of the original data set, I will drop these,
#in order to have unique values and maintain a 1:1 relationship with the 
#imdb_title_df dataframe.  
#The dataframe should have 136,071 rows now.
imdb_title_df = imdb_title_df.drop_duplicates(subset=['primary_title'])
assert len(imdb_title_df) == 136071

In [24]:
#set the movie column as the index and confirm:
#imdb_title_df = imdb_title_df.set_index('primary_title')
#imdb_title_df.head()

In [25]:
#This table seems ready to join with other tables.
#I will repeat this process with the other tables I am looking to join.

imdb_title_df_all_set = imdb_title_df
imdb_title_df_all_set.index.duplicated().sum()

0

In [26]:
#I will join tn_movie_budgets_all_set with imdb_title_basics_all_set

#movie_budget_title_df = tn_movie_budgets_all_set.join(imdb_title_df_all_set,how = 'inner')
movie_budget_title_df = tn_movie_budgets_all_set.merge(imdb_title_df_all_set, left_on='movie',right_on='primary_title')

In [27]:
#Review new table:
print("There are: ",movie_budget_title_df.duplicated().sum()," duplicate rows in this dataframe.")
print(movie_budget_title_df.info())
movie_budget_title_df.head(5)

There are:  0  duplicate rows in this dataframe.
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2312 entries, 0 to 2311
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       2312 non-null   datetime64[ns]
 1   movie              2312 non-null   object
 2   production_budget  2312 non-null   float64
 3   domestic_gross     2312 non-null   float64
 4   worldwide_gross    2312 non-null   float64
 5   tconst             2312 non-null   object
 6   primary_title      2312 non-null   object
 7   original_title     2312 non-null   object
 8   start_year         2312 non-null   int64
 9   runtime_minutes    2138 non-null   float64
 10  genres             2312 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(5)
memory usage: 216.8+ KB
None

,release_date,movie,production_budget,domestic_gross,worldwide_gross,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,2009-12-18,Avatar,425000000.0,760507625.0,2.776345e+09,tt1775309,Avatar,Abatâ,2011,93.0,Horror
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011,136.0,"Action,Adventure,Fantasy"
2,2019-06-07,Dark Phoenix,350000000.0,42762350.0,1.497624e+08,tt6565702,Dark Phoenix,Dark Phoenix,2019,113.0,"Action,Adventure,Sci-Fi"
3,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,2015,141.0,"Action,Adventure,Sci-Fi"
4,2018-04-27,Avengers: Infinity War,300000000.0,678815482.0,2.048134e+09,tt4154756,Avengers: Infinity War,Avengers: Infinity War,2018,149.0,"Action,Adventure,Sci-Fi"

In [28]:
# A few takeaways here:

# 1. The "runtime_minutes" column has about 200 Nan(s). I will see how to deal with that
# once the dataframe is complete.

# 2. I will also drop the rows where the "start_year" and the "release_date" don't match, since it appears
# as evidenced by the first row(Avatar) , that these may be referring to different movies.

In [29]:
#Dropping the rows where the "start_year" and the "release_date" don't match.
#Setting these 2 columns as str type:
movie_budget_title_df.loc[:,'release_date'] = movie_budget_title_df.loc[:,'release_date'].astype(str)
movie_budget_title_df.loc[:,'start_year'] = movie_budget_title_df.loc[:,'start_year'].astype(str)

#Creating two temporary columns with the string slices I want to compare:
movie_budget_title_df.loc[:,'release_year'] = movie_budget_title_df.loc[:,'release_date'].str.slice(0, 4)
movie_budget_title_df.loc[:,'year_only'] = movie_budget_title_df.loc[:,'start_year'].str.slice(0, 4)

#I will keep only the rows where these columns match:
movie_budget_title_df = movie_budget_title_df.loc[movie_budget_title_df.loc[:,'release_year'] == movie_budget_title_df.loc[:,'year_only'] ]

#Setting these 2 columns back to their original data types:
movie_budget_title_df.loc[:,'release_date'] = pd.to_datetime(movie_budget_title_df.loc[:,'release_date'])
movie_budget_title_df.loc[:,'start_year'] = movie_budget_title_df.loc[:,'start_year'].astype(float)

#Dropping the 2 temporary 'slice' columns:
movie_budget_title_df.drop(['release_year', 'year_only'], axis=1, inplace = True)

#Review:
print(movie_budget_title_df.info())
movie_budget_title_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1349 entries, 1 to 2305
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       1349 non-null   datetime64[ns]
 1   movie              1349 non-null   object
 2   production_budget  1349 non-null   float64
 3   domestic_gross     1349 non-null   float64
 4   worldwide_gross    1349 non-null   float64
 5   tconst             1349 non-null   object
 6   primary_title      1349 non-null   object
 7   original_title     1349 non-null   object
 8   start_year         1349 non-null   float64
 9   runtime_minutes    1341 non-null   float64
 10  genres             1349 non-null   object
dtypes: datetime64[ns](1), float64(5), object(5)
memory usage: 126.5+ KB
None

,release_date,movie,production_budget,domestic_gross,worldwide_gross,tconst,primary_title,original_title,start_year,runtime_minutes,genres
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,"Action,Adventure,Fantasy"
2,2019-06-07,Dark Phoenix,350000000.0,42762350.0,1.497624e+08,tt6565702,Dark Phoenix,Dark Phoenix,2019.0,113.0,"Action,Adventure,Sci-Fi"
3,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,2015.0,141.0,"Action,Adventure,Sci-Fi"
4,2018-04-27,Avengers: Infinity War,300000000.0,678815482.0,2.048134e+09,tt4154756,Avengers: Infinity War,Avengers: Infinity War,2018.0,149.0,"Action,Adventure,Sci-Fi"
5,2017-11-17,Justice League,300000000.0,229024295.0,6.559452e+08,tt0974015,Justice League,Justice League,2017.0,120.0,"Action,Adventure,Fantasy"

In [30]:
#I saw that there are 758 movies with duplicate release dates. I checked a few movies, and it turns 
#out several movies are in fact released on the same dates. 
movie_budget_title_df.duplicated(['release_date']).sum()

758

In [31]:
#This dataframe looks ready to be joined with another.
movie_budget_title_df_all_set = movie_budget_title_df

In [32]:
#I chose this dataset because it has information on the principal cast and crew of the movie(s)
principals_df = tables["imdb_title_principals_csv_gz"].copy()
principals_df.head()

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

In [33]:
#Reviewing the general table information, and the column data types:

principals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028186 entries, 0 to 1028185
Data columns (total 6 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   tconst      1028186 non-null  object
 1   ordering    1028186 non-null  int64
 2   nconst      1028186 non-null  object
 3   category    1028186 non-null  object
 4   job         177684 non-null   object
 5   characters  393360 non-null   object
dtypes: int64(1), object(5)
memory usage: 47.1+ MB

In [34]:
#I will drop the 'job' and 'character'columns, since the vast majority of their 
#values are NaN(s):

principals_df.drop(['job', 'characters','ordering'], axis=1, inplace=True)

#confirming:
principals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028186 entries, 0 to 1028185
Data columns (total 3 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   tconst    1028186 non-null  object
 1   nconst    1028186 non-null  object
 2   category  1028186 non-null  object
dtypes: object(3)
memory usage: 23.5+ MB

In [35]:
#checking if all the data types are uniform for each column:

for column in principals_df.columns:
    print(column,": ",principals_df[column].apply(type).unique())

tconst :  [<class 'str'>]
nconst :  [<class 'str'>]
category :  [<class 'str'>]

In [36]:
#I would expect duplicates here since each movie can have multiple principals,
#and each principal can be in multiple movies
#this dataframe is ready to join:

principals_df_all_set = principals_df

#inner merge based on 'tconst':
movie_budget_title_df_all_set.head(2)

,release_date,movie,production_budget,domestic_gross,worldwide_gross,tconst,primary_title,original_title,start_year,runtime_minutes,genres
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,"Action,Adventure,Fantasy"
2,2019-06-07,Dark Phoenix,350000000.0,42762350.0,1.497624e+08,tt6565702,Dark Phoenix,Dark Phoenix,2019.0,113.0,"Action,Adventure,Sci-Fi"

In [37]:
movie_budget_title_principals_df = movie_budget_title_df_all_set.merge(principals_df_all_set, left_on='tconst',right_on='tconst')
movie_budget_title_principals_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13394 entries, 0 to 13393
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       13394 non-null  datetime64[ns]
 1   movie              13394 non-null  object
 2   production_budget  13394 non-null  float64
 3   domestic_gross     13394 non-null  float64
 4   worldwide_gross    13394 non-null  float64
 5   tconst             13394 non-null  object
 6   primary_title      13394 non-null  object
 7   original_title     13394 non-null  object
 8   start_year         13394 non-null  float64
 9   runtime_minutes    13321 non-null  float64
 10  genres             13394 non-null  object
 11  nconst             13394 non-null  object
 12  category           13394 non-null  object
dtypes: datetime64[ns](1), float64(5), object(7)
memory usage: 1.4+ MB

In [38]:
movie_budget_title_principals_df.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross,tconst,primary_title,original_title,start_year,runtime_minutes,genres,nconst,category
0,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,"Action,Adventure,Fantasy",nm0694627,writer
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,"Action,Adventure,Fantasy",nm0000136,actor
2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,"Action,Adventure,Fantasy",nm0004851,actress
3,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,"Action,Adventure,Fantasy",nm0574534,actor
4,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,"Action,Adventure,Fantasy",nm0001691,actor

In [39]:
#The df is now about ten times larger, since it accounts for the multiple
#'principals' in each movie
#This dataframe is now ready to be merged:

movie_budget_title_principals_df_all_set = movie_budget_title_principals_df

In [40]:
#In order to get the actual names of the principals, we need
#to join one more dataframe:

names_df = tables["imdb_name_basics_csv_gz"].copy()
names_df.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [41]:
#I will drop all the columns except the 'nconst' and 'primary_names':
names_df.drop(['birth_year', 'death_year','primary_profession','known_for_titles'], axis=1, inplace = True)

#confirm:
names_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606648 entries, 0 to 606647
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   nconst        606648 non-null  object
 1   primary_name  606648 non-null  object
dtypes: object(2)
memory usage: 9.3+ MB

In [42]:
#quick check to confirm 'nconst' has no duplicates:
names_df.duplicated().sum()

0

In [43]:
#checking if all the data types are uniform for each column:

for column in names_df.columns:
    print(column,": ",names_df[column].apply(type).unique())

nconst :  [<class 'str'>]
primary_name :  [<class 'str'>]

In [45]:
#Remove any potential whitespace from str type columns:
cols = ['primary_name','nconst']
for col in cols:
    names_df[col] = names_df[col].apply(lambda m:m.strip())

In [52]:
#This dataframe is all set and ready to join:
names_df_all_set = names_df

#Merging with larger dataframe:
all_movie_df = movie_budget_title_principals_df_all_set.merge(names_df_all_set, left_on='nconst',right_on='nconst')

#review:
print(all_movie_df.info())
all_movie_df.head(60)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13393 entries, 0 to 13392
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       13393 non-null  datetime64[ns]
 1   movie              13393 non-null  object
 2   production_budget  13393 non-null  float64
 3   domestic_gross     13393 non-null  float64
 4   worldwide_gross    13393 non-null  float64
 5   tconst             13393 non-null  object
 6   primary_title      13393 non-null  object
 7   original_title     13393 non-null  object
 8   start_year         13393 non-null  float64
 9   runtime_minutes    13320 non-null  float64
 10  genres             13393 non-null  object
 11  nconst             13393 non-null  object
 12  category           13393 non-null  object
 13  primary_name       13393 non-null  object
dtypes: datetime64[ns](1), float64(5), object(8)
memory usage: 1.5+ MB
None

,release_date,movie,production_budget,domestic_gross,worldwide_gross,tconst,primary_title,original_title,start_year,runtime_minutes,genres,nconst,category,primary_name
0,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,"Action,Adventure,Fantasy",nm0694627,writer,Tim Powers
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,"Action,Adventure,Fantasy",nm0000136,actor,Johnny Depp
2,2013-07-02,The Lone Ranger,275000000.0,89302115.0,2.600021e+08,tt1210819,The Lone Ranger,The Lone Ranger,2013.0,150.0,"Action,Adventure,Western",nm0000136,actor,Johnny Depp
3,2017-05-26,Pirates of the Caribbean: Dead Men Tell No Tales,230000000.0,172558876.0,7.882411e+08,tt1790809,Pirates of the Caribbean: Dead Men Tell No Tales,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,129.0,"Action,Adventure,Fantasy",nm0000136,actor,Johnny Depp
4,2010-03-05,Alice in Wonderland,200000000.0,334191110.0,1.025491e+09,tt1014759,Alice in Wonderland,Alice in Wonderland,2010.0,108.0,"Adventure,Family,Fantasy",nm0000136,actor,Johnny Depp
5,2018-11-16,Fantastic Beasts: The Crimes of Grindelwald,200000000.0,159555901.0,6.522201e+08,tt4123430,Fantastic Beasts: The Crimes of Grindelwald,Fantastic Beasts: The Crimes of Grindelwald,2018.0,134.0,"Adventure,Family,Fantasy",nm0000136,actor,Johnny Depp
6,2011-11-23,Hugo,180000000.0,73864507.0,1.800478e+08,tt0970179,Hugo,Hugo,2011.0,126.0,"Adventure,Drama,Family",nm0000136,producer,Johnny Depp
7,2016-05-27,Alice Through the Looking Glass,170000000.0,77042381.0,2.769281e+08,tt2567026,Alice Through the Looking Glass,Alice Through the Looking Glass,2016.0,113.0,"Adventure,Family,Fantasy",nm0000136,actor,Johnny Depp
8,2012-05-11,Dark Shadows,150000000.0,79727149.0,2.382027e+08,tt1077368,Dark Shadows,Dark Shadows,2012.0,113.0,"Comedy,Fantasy,Horror",nm0000136,actor,Johnny Depp
9,2011-03-04,Rango,135000000.0,123477607.0,2.457246e+08,tt1192628,Rango,Rango,2011.0,107.0,"Adventure,Animation,Comedy",nm0000136,actor,Johnny Depp
10,2010-12-10,The Tourist,100000000.0,67631157.0,2.787314e+08,tt1243957,The Tourist,The Tourist,2010.0,103.0,"Action,Adventure,Thriller",nm0000136,actor,Johnny Depp
11,2015-01-23,Mortdecai,60000000.0,7696134.0,3.039613e+07,tt3045616,Mortdecai,Mortdecai,2015.0,107.0,"Action,Comedy,Crime",nm0000136,actor,Johnny Depp
12,2018-03-23,Sherlock Gnomes,59000000.0,43242871.0,8.752765e+07,tt2296777,Sherlock Gnomes,Sherlock Gnomes,2018.0,86.0,"Adventure,Animation,Comedy",nm0000136,actor,Johnny Depp
13,2015-09-18,Black Mass,53000000.0,62575678.0,9.883787e+07,tt1355683,Black Mass,Black Mass,2015.0,123.0,"Biography,Crime,Drama",nm0000136,actor,Johnny Depp
14,2011-10-28,The Rum Diary,45000000.0,13109815.0,2.154473e+07,tt0376136,The Rum Diary,The Rum Diary,2011.0,119.0,"Comedy,Drama",nm0000136,actor,Johnny Depp
15,2016-09-02,Yoga Hosers,5000000.0,0.0,2.295800e+04,tt3838992,Yoga Hosers,Yoga Hosers,2016.0,88.0,"Action,Comedy,Fantasy",nm0000136,actor,Johnny Depp
16,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,"Action,Adventure,Fantasy",nm0004851,actress,Penélope Cruz
17,2017-11-10,Murder on the Orient Express,55000000.0,102826543.0,3.459227e+08,tt3402236,Murder on the Orient Express,Murder on the Orient Express,2017.0,114.0,"Crime,Drama,Mystery",nm0004851,actress,Penélope Cruz
18,2016-02-12,Zoolander 2,50000000.0,28848693.0,5.534869e+07,tt1608290,Zoolander 2,Zoolander 2,2016.0,101.0,Comedy,nm0004851,actress,Penélope Cruz
19,2013-10-25,The Counselor,25000000.0,16973715.0,7.100933e+07,tt2193215,The Counselor,The Counselor,2013.0,117.0,"Crime,Drama,Thriller",nm0004851,actress,Penélope Cruz
20,2012-06-22,To Rome with Love,21500000.0,16684352.0,7.432602e+07,tt1859650,To Rome with Love,To Rome with Love,2012.0,112.0,"Comedy,Music,Romance",nm0004851,actress,Penélope Cruz
21,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,"Action,Adventure,Fantasy",nm0574534,actor,Ian McShane
22,2014-07-25,Hercules,100000000.0,72688614.0,2.433886e+08,tt1267297,Hercules,Hercules,2014.0,98.0,"Action,Adventure,Fantasy",nm0574534,actor,Ian McShane
23,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,"Action,Adventure,Fantasy",nm0001691,actor,Geoffrey Rush
24,2017-05-26,Pirates of the Caribbean: Dead Men Tell No Tales,230000000.0,172558876.0,7.882411e+08,tt1790809,Pirates of the Caribbean: Dead Men Tell No Tales,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,129.0,"Action,Adventure,Fantasy",nm0001691,actor,Geoffrey Rush
25,2010-12-03,The Warrior's Way,42000000.0,5666340.0,8.514325e+06,tt1032751,The Warrior's Way,The Warrior's Way,2010.0,100.0,"Action,Fantasy,Western",nm0001691,actor,Geoffrey Rush
26,2013-11-08,The Book Thief,19000000.0,21488481.0,7.608671e+07,tt0816442,The Book Thief,The Book Thief,2013.0,131.0,"Drama,War",nm0001691,actor,Geoffrey Rush
27,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,"Action,Adventure,Fantasy",nm0551128,director,Rob Marshall
28,2018-12-19,Mary Poppins Returns,130000000.0,171958438.0,3.415285e+08,tt5028340,Mary Poppins Returns,Mary Poppins Returns,2018.0,130.0,"Comedy,Family,Fantasy",nm0551128,director,Rob Marshall
29,2014-12-25,Into the Woods,56200000.0,128002372.0,2.131164e+08,tt2180411,Into the Woods,Into the Woods,2014.0,125.0,"Adventure,Comedy,Drama",nm0551128,director,Rob Marshall
30,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,"Action,Adventure,Fantasy",nm0254645,writer,Ted Elliott
31,2013-07-02,The Lone Ranger,275000000.0,89302115.0,2.600021e+08,tt1210819,The Lone Ranger,The Lone Ranger,2013.0,150.0,"Action,Adventure,Western",nm0254645,writer,Ted Elliott
32,2017-05-26,Pirates of the Caribbean: Dead Men Tell No Tales,230000000.0,172558876.0,7.882411e+08,tt1790809,Pirates of the Caribbean: Dead Men Tell No Tales,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,129.0,"Action,Adventure,Fantasy",nm0254645,writer,Ted Elliott
33,2010-05-21,Shrek Forever After,165000000.0,238736787.0,7.562447e+08,tt0892791,Shrek Forever After,Shrek Forever After,2010.0,93.0,"Adventure,Animation,Comedy",nm0254645,writer,Ted Elliott
34,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,"Action,Adventure,Fantasy",nm0744429,writer,Terry Rossio
35,2013-07-02,The Lone Ranger,275000000.0,89302115.0,2.600021e+08,tt1210819,The Lone Ranger,The Lone Ranger,2013.0,150.0,"Action,Adventure,Western",nm0744429,writer,Terry Rossio
36,2017-05-26,Pirates of the Caribbean: Dead Men Tell No Tales,230000000.0,172558876.0,7.882411e+08,tt1790809,Pirates of the Caribbean: Dead Men Tell No Tales,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,129.0,"Action,Adventure,Fantasy",nm0744429,writer,Terry Rossio
37,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,"Action,Adventure,Fantasy",nm0064181,writer,Stuart Beattie
38,2017-05-26,Pirates of the Caribbean: Dead Men Tell No Tales,230000000.0,172558876.0,7.882411e+08,tt1790809,Pirates of the Caribbean: Dead Men Tell No Tales,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,129.0,"Action,Adventure,Fantasy",nm0064181,writer,Stuart Beattie
39,2014-01-24,"I, Frankenstein",65000000.0,19075290.0,7.457529e+07,tt1418377,"I, Frankenstein","I, Frankenstein",2014.0,92.0,"Action,Fantasy,Horror",nm0064181,director,Stuart Beattie
40,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,"Action,Adventure,Fantasy",nm0938684,writer,Jay Wolpert
41,2019-06-07,Dark Phoenix,350000000.0,42762350.0,1.497624e+08,tt6565702,Dark Phoenix,Dark Phoenix,2019.0,113.0,"Action,Adventure,Sci-Fi",nm0498278,writer,Stan Lee
42,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,2015.0,141.0,"Action,Adventure,Sci-Fi",nm0498278,writer,Stan Lee
43,2018-04-27,Avengers: Infinity War,300000000.0,678815482.0,2.048134e+09,tt4154756,Avengers: Infinity War,Avengers: Infinity War,2018.0,149.0,"Action,Adventure,Sci-Fi",nm0498278,writer,Stan Lee
44,2012-07-03,The Amazing Spider-Man,220000000.0,262030663.0,7.578903e+08,tt0948470,The Amazing Spider-Man,The Amazing Spider-Man,2012.0,136.0,"Action,Adventure,Sci-Fi",nm0498278,writer,Stan Lee
45,2018-02-16,Black Panther,200000000.0,700059566.0,1.348258e+09,tt1825683,Black Panther,Black Panther,2018.0,134.0,"Action,Adventure,Sci-Fi",nm0498278,writer,Stan Lee
46,2013-05-03,Iron Man 3,200000000.0,408992272.0,1.215392e+09,tt1300854,Iron Man 3,Iron Man Three,2013.0,130.0,"Action,Adventure,Sci-Fi",nm0498278,writer,Stan Lee
47,2014-05-23,X-Men: Days of Future Past,200000000.0,233921534.0,7.478628e+08,tt1877832,X-Men: Days of Future Past,X-Men: Days of Future Past,2014.0,132.0,"Action,Adventure,Sci-Fi",nm0498278,writer,Stan Lee
48,2014-05-02,The Amazing Spider-Man 2,200000000.0,202853933.0,7.089963e+08,tt1872181,The Amazing Spider-Man 2,The Amazing Spider-Man 2,2014.0,142.0,"Action,Adventure,Sci-Fi",nm0498278,writer,Stan Lee
49,2017-11-03,Thor: Ragnarok,180000000.0,315058289.0,8.469800e+08,tt3501632,Thor: Ragnarok,Thor: Ragnarok,2017.0,130.0,"Action,Adventure,Comedy",nm0498278,writer,Stan Lee
50,2016-05-27,X-Men: Apocalypse,178000000.0,155442489.0,5.425375e+08,tt3385516,X-Men: Apocalypse,X-Men: Apocalypse,2016.0,144.0,"Action,Adventure,Sci-Fi",nm0498278,writer,Stan Lee
51,2010-05-07,Iron Man 2,170000000.0,312433331.0,6.211564e+08,tt1228705,Iron Man 2,Iron Man 2,2010.0,124.0,"Action,Adventure,Sci-Fi",nm0498278,writer,Stan Lee
52,2016-11-04,Doctor Strange,165000000.0,232641920.0,6.764046e+08,tt1211837,Doctor Strange,Doctor Strange,2016.0,115.0,"Action,Adventure,Fantasy",nm0498278,writer,Stan Lee
53,2018-07-06,Ant-Man and the Wasp,130000000.0,216648740.0,6.231447e+08,tt5095030,Ant-Man and the Wasp,Ant-Man and the Wasp,2018.0,118.0,"Action,Adventure,Comedy",nm0498278,writer,Stan Lee
54,2015-07-17,Ant-Man,130000000.0,180202163.0,5.188584e+08,tt0478970,Ant-Man,Ant-Man,2015.0,117.0,"Action,Adventure,Comedy",nm0498278,writer,Stan Lee
55,2015-08-07,Fantastic Four,120000000.0,56117548.0,1.678492e+08,tt1502712,Fantastic Four,Fantastic Four,2015.0,100.0,"Action,Adventure,Drama",nm0498278,writer,Stan Lee
56,2019-06-07,Dark Phoenix,350000000.0,42762350.0,1.497624e+08,tt6565702,Dark Phoenix,Dark Phoenix,2019.0,113.0,"Action,Adventure,Sci-Fi",nm0564215,actor,James McAvoy
57,2014-05-23,X-Men: Days of Future Past,200000000.0,233921534.0,7.478628e+08,tt1877832,X-Men: Days of Future Past,X-Men: Days of Future Past,2014.0,132.0,"Action,Adventure,Sci-Fi",nm0564215,actor,James McAvoy
58,2016-05-27,X-Men: Apocalypse,178000000.0,155442489.0,5.425375e+08,tt3385516,X-Men: Apocalypse,X-Men: Apocalypse,2016.0,144.0,"Action,Adventure,Sci-Fi",nm0564215,actor,James McAvoy
59,2011-06-03,X-Men: First Class,160000000.0,146408305.0,3.554083e+08,tt1270798,X-Men: First Class,X: First Class,2011.0,131.0,"Action,Adventure,Sci-Fi",nm0564215,actor,James McAvoy

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [44]:
# Here you run your code to model the data

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***